@model Models.Pages.GameViewModel

@{
    ViewBag.Title = "Home Page";
}
<script src="http://cdnjs.cloudflare.com/ajax/libs/ocanvas/2.3.1/ocanvas.min.js"></script>
<script src="~/Scripts/Engine.js"></script>
<script src="~/Scripts/Map.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var map = @Html.Raw(Json.Encode(Model.Map));
        
        var core = new Core(map);
    });
</script>
<div style="margin-top: 20px;" align="center">
    <canvas id="canvas" style=""></canvas>
</div>
